* {
    font-family: "Figtree", serif;
}

body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffc0000a;
}

.font-2 {
    font-family: "Montserrat", serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    text-decoration: none;
    margin: 0px !important;
}

.no-radius {
    border-radius: 0px !important;
}

.font-500 {
    font-weight: 500;
}