* {
    font-family: "Figtree", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.m-font {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.fze {
    font-size: 2vh;
}

.fze-1 {
    font-size: 2.5vh;
}

.fze-2 {
    font-size: 3vh;
}

.fze-3 {
    font-size: 4vh;
}

.fze-5 {
    font-size: 5vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.row {
    --bs-gutter-x: 0rem;
}

.no-radius {
    border-radius: 0px;
}

/* navbar start */
.navbar .main-logo {
    height: 10vh;
}
/* navbar end */
/* footer start */
.backtop {
    background-color: #f2f3f5;
}
#footer {
    background-color: #f8f3f0;
}
/* footer end */
